# OS / editor junk
.DS_Store
Thumbs.db
desktop.ini
*.log

# Editor folders
.vscode/
.idea/

# Dependency / build dirs (in case added later)
node_modules/
dist/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
